@import "../app/globals.css";

body {
  font-family: "Barlow", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    background-color: var(--foreground);
    color: #ffffff;
    font-family: "Barlow", sans-serif;
  }
  
  .logo {
    font-family: 'Barlow', sans-serif;
  }
  
  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    /* color: #ffffff; */
  }
  .links a:visited {
    color: white;
  }
  .links a:hover {
    color: var(--accent-color);
  }

  
  a {
    margin: 0 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
  }

  .nav-icon {
    width: 60px; /* Adjust size as needed */
    height: 60px;
    /* margin-right: 10px; Add spacing if needed */
}

/* @font-face {
  font-family: 'Barlow';
  src: url("http://fonts.googleapis.com/css?family=Barlow");
} */